@use "./_variables" as variable;

#converter {
  min-height: 100vh;
  margin-block: 10vh;
  padding-inline: 16px;

  #card-container {
    display: grid;
    gap: 32px 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*    padding-inline: 48px; */
    margin-block: 64px;

    .converter-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding: 20px;
      border-radius: 8px;
      background-color: variable.$color-primary;
      color: variable.$color-secondary;

      img {
        width: 80px;
        aspect-ratio: 1/1;
      }
      h3 {
        /*  color: white; */
      }
      input {
        max-width: 180px;
        width: 100%;
        border-radius: 8px;
        border: none;
        padding: 15px;
      }
    }
  }

  a.btn {
    display: block;
    margin-top: 48px;
    margin-inline: auto;
  }
}
