@use "./_variables" as variable;

header {
  background-color: variable.$color-primary-dark;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  ul {
    display: flex;
    gap: 2rem;
    li {
      list-style: none;
      color: variable.$color-secondary;
      a {
        text-decoration: none;
        color: variable.$color-secondary;
      }
    }
  }
}

#headerSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100%;
  min-height: 80vh;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  .textContent {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    h1,
    p {
      color: variable.$color-secondary;
      max-width: 60ch;
    }
    a.btn {
      /*width: 150px;
      height: 50px;
      border-radius: 8px;
      border: none;
      background: #e46f21;
      color: white;*/
    }
  }
  .circler {
    display: grid;
    width: 100%;
    height: auto;
    justify-items: center;
    .greenCircle {
      grid-column: 1/3;
      grid-row: 1/3;
      mix-blend-mode: multiply;
    }
    .orangeCircle {
      grid-row: 2/4;
      grid-column: 2/4;
      mix-blend-mode: darken;
    }
  }
}
