// global reset

@use "./styles/variables" as variable;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// fonts

// elements

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

input {
  padding: 8px;
}

button {
  cursor: pointer;
  padding: 16px 32px;
  background-color: variable.$color-accent-2;
  border: none;
  border-radius: 8px;
  color: variable.$color-primary-light;
  font-size: 0.9rem;
  font-weight: 500;
}

// globale klasser
.max-width {
  max-width: 1200px;
  margin-inline: auto;
}
