// global reset

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// fonts

// elements

input {
  padding: 8px;
}

button {
  cursor: pointer;
  padding: 12px 32px;
}

// globale klasser
.max-width {
  max-width: 1200px;
  margin-inline: auto;
}
