// global reset

@use "./styles/variables" as variable;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// fonts

h1 {
  font-size: clamp(2.074rem, 1.533rem + 2.166vw, 3.157rem);
  color: variable.$color-secondary;
}

h2 {
  font-size: clamp(1.728rem, 1.4075rem + 1.2825vw, 2.369rem);
  color: variable.$color-secondary;
}

h3 {
  font-size: clamp(1.44rem, 1.2715rem + 0.674vw, 1.777rem);
  color: variable.$color-secondary;
}

h4 {
  font-size: clamp(1.2rem, 1.1335rem + 0.266vw, 1.333rem);
  color: variable.$color-secondary;
}

p {
  font-size: 1rem;
  color: variable.$color-secondary-light;
  max-width: 65ch;
}

// elements

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

input {
  padding: 8px;
}

select {
  background-color: variable.$color-primary-light;
  color: variable.$color-secondary;
  font-weight: 500;
}

button,
a.btn {
  cursor: pointer;
  padding: 16px 32px;
  background-color: variable.$color-accent-2;
  border: none;
  border-radius: 8px;
  color: variable.$color-primary-light;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  min-width: 150px;
  width: max-content;
  text-decoration: none;
}

// globale klasser
.max-width {
  max-width: 1200px;
  margin-inline: auto;
}
